.wrapper

  = render "messages/side_bar"

.main-bar
  .main-bar__header
    .main-bar__header__h3.group_name
      = @group.name
    .main-bar__header__members
      Members:
      - @group.users.each do |user|
        = user.name
      .main-bar__header__right-header
        .right-header__btn
          =link_to "Edit", edit_group_path(@group.id), class: "btn"

  .main-bar__content
    .main-bar__content__messages
      = render @messages

  .main-bar__footer
    = form_for [@group, @message] do |f|
      = f.text_field :text, class: 'textarea', placeholder: "type a message"
      .picture_area
        = f.label :image, class: 'form__mask__image' do
          = fa_icon 'picture-o', class: 'fa-icon'
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit-message'
